// COLORS

// GENERAL
$general-bg-color: #fff;
$general-dimmed-bg-color: #f1f1f1;
$general-special-color: #ff503f;
$general-border-color: #c8c8c8;
$general-text-color: #4b4b4b;
$general-special-text-color: #fff;
$general-light-color: #fff;
$general-box-shadow-color: rgba(0, 0, 0, .07);
$general-text-shadow-color: rgba(0, 0, 0, .35);

// SIDEBAR
$general-nav-color: #787878;
$sidebar-active-nav-color: #fff;

// TABS
$tabs-border-color: #d3d7da;
$tabs-bg-color: #f8f8f8;

// MAIN PANEL
$main-bg-color: #fff;
$main-counter-color: #fff;

// FORMS
$form-input-text-color: #9b9b9b;
